<p id="notice"><%= notice %></p>

<h1>Charlas</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @charlas.each do |charla| %>
      <tr>
        <td><%= link_to 'Show', charla %></td>
        <td><%= link_to 'Edit', edit_charla_path(charla) %></td>
        <td><%= link_to 'Destroy', charla, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Charla', new_charla_path %>
